 <nav class="navbar bg-success navhead" >
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">Hospital Management</a>
      </div> -->
      <div class = "row ">
        <h1>Hospital Management</h1>
      </div>
      
      
      <ul class="nav navbar-nav navbar-right">
      <li>
          <h3>{{username}}</h3>
      </li>
      
      </ul>

    </div>
  </nav>
  <!-- <div class="jumbotron bg-success">
    <div class = "row">
    <h1>Hospital Management</h1>
    <div class="col-md-3 navbar ">
      <ul class="nav navbar-nav navbar-right">
        <li >
            {{username}}
        </li>
        
        </ul>
      </div>
    </div>
    <div class="row">
    <p>Maintain your hospital data at finger tips</p>
  </div>
     
  </div>-->
