<app-header></app-header>
<app-dashboardnavbar></app-dashboardnavbar>
<div class="bg-secondary">
<app-homecorousal></app-homecorousal>
</div>
<!-- <nav class="navbar bg-secondary">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
            <a role="button" (click)="displaydoc()">Doctors</a>
        </li>
      </ul>
    </div>
  </nav> -->


  <!-- <li>
    <a role="button" (click)="displaydoc()">Doctors</a>
  </li>
  <li>
      <a role = "button" (click) = "displaypat()">patients</a>
  </li> -->
