<app-header></app-header>
<app-dashboardnavbar></app-dashboardnavbar>
<div class="form-row" *ngIf="!patientdata">
    <div class="col-md-5"></div>
    <button type="submit" class="btn btn-primary " (click)="showPatient();">VIEW PATIENTS</button>
</div>
<div class="row" *ngIf="patientdata">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-8">
      <div class="row space-16">&nbsp;</div>
      <div class="row">
        <div class="col-sm-4" *ngFor="let user of patient.data">
          <div class="thumbnail">
            <div class="caption text-center"
              onclick="location.href='https://flow.microsoft.com/en-us/connectors/shared_slack/slack/'">
              <div class="position-relative">
                <!-- <img src="https://az818438.vo.msecnd.net/icons/slack.png" style="width:72px;height:72px;" /> -->
              </div>
              <h4 id="thumbnail-label"><a href="https://flow.microsoft.com/en-us/connectors/shared_slack/slack/"
                  target="_blank">{{user.username}} </a></h4>
              <!-- <p><i class="glyphicon glyphicon-user light-red lighter bigger-120"></i>&nbsp;Auditor</p> -->
              <!-- <div class="thumbnail-description smaller">This card contains the specific information about the patient or
                doctor and their personel information for the management use</div> -->
              <table class="thumbnail-description smaller text-left">
                <tr>
                  <td>Email </td>
                  <td>: {{user.email}}</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>: {{user.age}}</td>
                  </tr>
                <tr>
                  <td>Street </td>
                  <td>: {{user.area}}</td>
                </tr>
                <tr>
                  <td>City </td>
                  <td>: {{user.city}}</td>
                </tr>
                <tr>
                  <td>State </td>
                  <td>: {{user.state}}</td>
                </tr>
                
              </table>
            </div>
            <div class="caption card-footer text-center ">
              <ul class="list-inline">
                <li><i class="fas fa-trash-alt"></i><a
                    (click)="deleteUser(user.userId)">Delete</a></li>
                <li><i class="fa fa-trash-alt"></i><a
                    (click)="navigateEdit(user.userId)">Edit</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <div *ngIf="showError" class="alert alert-danger text-center">Delete Failed</div>
      <div *ngIf="showSuccess" class="alert alert-success text-center">Successful!y Deleted!!!Refresh the Page</div>
    </div>
  </div> -->
